/* ==UserStyle==
@name         AboveVTT Color Blind Auras
@preprocessor uso
@namespace    AboveVTT Color Blind Auras
@version      0.3
@author       Azmoria (Jay_Lane)
@updateURL https://github.com/Azmoria/dndbeyonddark/raw/master/AboveVTT%20Color%20Blind%20Auras.user.css
@var color aboveFull "Above Full Health" #0000FFdd
@var color full "Full Health" #00FF00dd
@var color damaged "Lightly Damaged" #22aa00dd
@var color bloodied "Bloodied" #FFFF00dd
@var color mortalWounded "Mortally Wounded" #FF4400dd
@var color dead "Dead" #FF0000dd
==/UserStyle== */

@-moz-document regexp("https://www.dndbeyond.com/.*abovevtt=true"), regexp("https://www.dndbeyond.com/.*campaign") {
     .VTTToken img[style*="box-shadow: rgba(0, 0, 255, "][style*=" 255, 0.8)"]  {
        box-shadow: /*[[aboveFull]]*/ 0px 0px 7px 7px !important;
    }
    .VTTToken img[style*=", 255,"][style*=" 0, 0.8)"]{
        box-shadow: /*[[damaged]]*/ 0px 0px 7px 7px !important;
    }
    .VTTToken img[style*="box-shadow: rgba(0, 255, 0,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(5, 255, 0,"][style*=" 0, 0.8)"] {
       box-shadow: /*[[full]]*/ 0px 0px 7px 7px !important;
    }
    .VTTToken img[style*="box-shadow: rgba(255, "][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 255,"][style*=" 0, 0.8)"] {
        box-shadow: /*[[bloodied]]*/ 0px 0px 7px 7px !important;
    }

    .VTTToken img[style*="box-shadow: rgba(255, 61,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 56,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 51,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 50,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 45,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 40,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 35,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 30,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 25,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 20,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 15,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 10,"][style*=" 0, 0.8)"],
    .VTTToken img[style*="box-shadow: rgba(255, 5,"][style*=" 0, 0.8)"]{
        box-shadow: /*[[mortalWounded]]*/ 0px 0px 7px 7px !important;
    }
    .VTTToken img[style*="(255, 0, 0"][style*=" 0, 0.8)"]{
        box-shadow: /*[[dead]]*/ 0px 0px 7px 7px !important;
    }
    
    .VTTToken img[style*="box-shadow: rgba(0, 0, 255, "][style*=" 255, 0.8)"] ~ .hpbar {
        background-image: linear-gradient(135deg, #000 -50%, /*[[aboveFull]]*/ 150%) !important;
    }
    .VTTToken img[style*=", 255,"][style*=" 0, 0.8)"] ~ .hpbar {
        background-image: linear-gradient(135deg,#000 10%, /*[[damaged]]*/ 150%) !important;
    }
    .VTTToken img[style*="box-shadow: rgba(0, 255, 0,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(5, 255, 0,"][style*=" 0, 0.8)"] ~ .hpbar {
        background-image: linear-gradient(135deg, #000 -50%, /*[[full]]*/ 100%) !important;
    }
    .VTTToken img[style*="box-shadow: rgba(255, "][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 255,"][style*=" 0, 0.8)"] ~ .hpbar {
        background-image: linear-gradient(135deg, #000 20%, /*[[bloodied]]*/ 150%) !important;
    }
    .VTTToken img[style*="box-shadow: rgba(255, 61,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 56,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 51,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 50,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 45,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 40,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 35,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 30,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 25,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 20,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 15,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 10,"][style*=" 0, 0.8)"] ~ .hpbar,
    .VTTToken img[style*="box-shadow: rgba(255, 5,"][style*=" 0, 0.8)"] ~ .hpbar{
        background-image: linear-gradient(135deg, #000 50%, /*[[mortalWounded]]*/ 150%) !important;
    }
    .VTTToken img[style*="(255, 0, 0"][style*=" 0, 0.8)"] ~ .hpbar{
        background-image: linear-gradient(135deg, #000 90%, /*[[dead]]*/ 150%) !important;
    }
    .hpbar input,
    .hpbar div{
        color: #ddd !important;   
    }
}
