/* ==UserStyle==
@name           Remove AboveVTT scrollbars
@namespace      Remove AboveVTT scrollbars
@version        1.0.0
@description    Remove scroll bars in abovevtt
@preprocessor   uso
@author         Azmoria
@updateURL https://github.com/Azmoria/dndbeyonddark/raw/master/abovevttremovescrollbars.user.css
==/UserStyle== */

@-moz-document regexp(".*abovevtt=true") {
    body::-webkit-scrollbar {
		width: 0px;
        height: 0px;
	}

	 body::-webkit-scrollbar-track
    {
		background: transparent !important;
	}
	 body::-webkit-scrollbar-thumb
    {
		background-color:transparent;
        border-radius: 6px;
		border: none;
	}
     body::-webkit-scrollbar-corner
    { 
        background: transparent;
    }
}
