/* ==UserStyle==
@name         DNDBeyond Character Sheet Dark
@version      1.1.13
@namespace    Azmoria (Jay_Lane)
@preprocessor uso
@author       Azmoria (Jay_Lane)
@updateURL https://github.com/Azmoria/dndbeyonddark/raw/master/DNDBeyond%20Character%20Sheet.user.css
@var text backgroundImg "Background image URL: two double quotes for dndbeyond background choice, url for custom or blank for background color" ""
@var color background "Background Color" "#000"
@var color sheetColor "Sheet Color" #000
@var color fontColor "Font Color" #ddd
@var color borderColor "Border Color" #114
@var color highlightColor "Highlight Color" #59d
@var color scrollbarColor "Scrollbar Color" #114
@var color rollColor "Rollable Items Color" #59d
@var color rollCalcColor "Roll History Background Color" #030f1aea
@var text filter "Icons filter - for dark backgrounds: invert(100%) for light background: none" "invert(100%)"
@var text zindex "Z-index for dice: above 60001 for above results; below 60001 for below results" "60000"



==/UserStyle== */
@-moz-document regexp("https://www.dndbeyond.com/profile/.*/characters/\\d*"),
regexp("https://www.dndbeyond.com/characters/.*") {


	/*Scrollbar style */
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: /*[[sheetColor]]*/;
	}
	::-webkit-scrollbar-thumb {
		background-color: /*[[scrollbarColor]]*/;
		border-radius: 6px;
		background-clip: padding-box;
		border: 4px solid rgba(0, 0, 0, 0);
	}

	/*Background colors, images and styles */
	html body.body-rpgcharacter-sheet {
		background: url("/*[[backgroundImg]]*/");
		background-color: /*[[background]]*/;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.ct-health-summary__adjuster-field-input,
	.ddbc-campaign-summary,
	.ct-sidebar__pane-content,
	.ct-sidebar__pane-gap,
	.ct-sidebar thead td,
	.ct-sidebar thead th,
	.ct-sidebar .compendium-left-aligned-table td,
	.ct-sidebar .summoning-creatures-table td,
	body:not(.body-forum):not(.section-posts):not(.section-changelog):not(.body-privatemessage-details) blockquote,
	.ct-editor-box,
	input:not(.es-form-field-query),
	.ddbc-checkbox__input,
	.ct-item-detail__tag,
	.ct-spell-detail__tag,
	.ddbc-collapsible__header,
	.ct-select,
	.ct-creature-pane__tag,
	.ddbc-number-bar__option,
	.ct-condition-manage-pane__condition-content,
	.ct-sidebar td,
	textarea,
	.ct-spells-filter__adv-filter-button,
	.ct-equipment-shop__item > .ddbc-collapsible__content,
	.ct-spell-manager__spell > .ddbc-collapsible__content,
	.site .ct-button.ct-theme-button--outline:disabled,
	.ct-feats-manage-pane__feat-content,
	.ct-spell-caster__casting-action-count.ct-spell-caster__casting-action-count--spellcasting,
	.ddbc-ability-score-manager__component-value,
	.ct-component-carousel__placeholders,
	.ct-component-carousel__active,
	.ct-mobile-divider__label,
	.ct-main-mobile__saving-throws,
	.ct-main-mobile .ct-senses,
	.ct-sidebar__mask,
	.ct-description-mobile .ct-description,
	.ct-proficiency-groups-mobile,
	.ct-notes-mobile .ct-notes,
	.ct-features-mobile,
	.ct-spells-mobile,
	.ct-equipment-mobile,
	.ct-actions-mobile .ddbc-tab-options,
	.ct-combat-tablet__cta-button,
	.ct-tablet-box__inner,
	.ct-tablet-box__header,
	.ct-skills-mobile .ct-skills,
	.ct-extras-mobile,
    .integrated-dice-menu__item,
    .Basic-Text-Frame,
    .body-rpgcharacterbuilder.site,
    .filter-listing-item,
    input[type="text"], 
    input[type="number"], 
    input[type="search"], 
    input[type="password"], 
    input[type="email"], 
    textarea, 
    select,
    .starting-equipment-rule-slots,
    .starting-equipment-rule-slot+.starting-equipment-rule-slot:before,
    .starting-equipment-rule-slot-inactive,
    .ct-inventory-filter__adv-filter-button,
    .ct-extras-filter__adv-filter-button,
    .alertify .ajs-body,
    ._3A6FDLVnjjt8AEw9hQLvFY,
    ._1WXtuzqHtOKDwJKEVpp6Oi,
    .body-rpgcharacter-sheet{
		background-color: /*[[sheetColor]]*/
		!important;
		color: /*[[fontColor]]*/
		!important;
	}
	.ddbc-no-proficiency-icon {
		background: /*[[fontColor]]*/
		!important
	}
	.ddbc-tab-options--layout-pill .ddbc-tab-options__header-heading,
	.ct-slot-manager__slot,
	.site .ct-button.ct-theme-button--outline,
	.ct-character-header-desktop__button,
	.site .ct-button.ct-theme-button--filled:disabled,
	.site .ct-button.ct-theme-button--filled,
	.site .ct-theme-button--outline.ct-button:hover,
	.site .ct-theme-button--outline.ct-button:active,
    .ct-character-manage-pane__intro,
    .ct-dice-preference-manager__primary,
    .ct-dice-preference-manager__link-out,
    .ct-character-header-desktop__group--game-log{
		background: /*[[sheetColor]]*/
		!important;
	}
	.ct-slot-manager__slot--used:before,
	.ct-spells-spell__scaled-level,
	.ddbc-tab-options__header-heading.ddbc-tab-options__header-heading--is-active,
	.ddbc-tab-options__header-heading.ddbc-tab-options__header-heading--is-active:hover,
	.ddbc-number-bar__option.ddbc-number-bar__option--active.ddbc-number-bar__option--interactive,
	.ddbc-toggle-field--is-enabled .ddbc-toggle-field__nub,
	.ddbc-toggle-field--is-enabled,
	.ct-spells-filter__active,
	button.ct-theme-button.ct-remove-button.ct-theme-button--filled.ct-theme-button--interactive.ct-button.character-button.character-button-small,
	button.ct-theme-button.ct-theme-button--filled.ct-theme-button--interactive.ct-button.character-button.character-button-small,
    .ct-dice-preference-manager__primary-info-version,
    .starting-equipment button.ct-button.character-button.character-button,
    .ct-spells-filter__advanced-callout, 
    .ct-inventory-filter__advanced-callout,
    .ct-spells-filter__active, 
    .ct-inventory-filter__active,
    .ct-spells-filter__adv-filter-button--active, 
    .ct-inventory-filter__adv-filter-button--active,
    .ct-extras-filter__adv-filter-button--active,
    .ct-extras-filter__active,
    .ct-extras-filter__advanced-callout,
    .ct-spells__tab-level-callout,
    .ct-character-header__group--game-log{
		background: /*[[highlightColor]]*/
		!important;
	}

	body:not(.body-forum):not(.section-posts):not(.section-changelog):not(.body-privatemessage-details) blockquote::before,
	body:not(.body-forum):not(.section-posts):not(.section-changelog):not(.body-privatemessage-details) blockquote::after,
	.ddbc-creature-block,
	.ddbc-creature-block:after,
	.ddbc-creature-block:before,
    .body-rpgcharacterbuilder.site{
		background-image: none !important;
	}

	.ct-quick-nav__toggle,
	.ct-quick-nav__edge-toggle {
		background-color: /*[[highlightColor]]*/;
	}

	.ct-spells-filter__input[type=search],
	.ct-inventory-filter__input[type=search],
	.ct-extras-filter__input[type=search]      
    {
		background: none !important;
	}





	/*Font colors and styles*/
	#content,
	.ddbc-item-name--rarity-common,
	.ddbc-ability-summary__primary,
	.ddbc-tab-options--layout-pill .ddbc-tab-options__header-heading,
	.ct-health-summary__hp-item-label,
	.ddbc-ability-summary__label,
	.ddbc-ability-summary__heading span,
	.ct-proficiency-bonus-box div,
	.ct-proficiency-bonus-box span,
	.ddbc-ability-summary__primary span,
	span,
	.ct-speed-box div,
	.ct-speed-box span,
	input[type="text"],
	input[type="number"],
	input[type="search"],
	input[type="password"],
	input[type="email"],
	textarea,
	select,
	.ct-defenses-summary__default,
	.ct-conditions-summary__default,
	.ct-proficiency-groups__group-label,
	p,
	span,
	.ddbc-armor-class-box div,
	.ct-saving-throws-details__empty,
	.ct-saving-throws-box__modifiers.ct-saving-throws-box__modifiers--empty,
	.ct-senses__summary.ct-senses__summary--empty,
	.ddbc-attunement-slot--empty,
	.ct-attunement__group-empty,
	.ct-attunement__group-header,
	.ct-skills__item .ct-skills__col--stat,
	.ct-spells-level-casting__info-label,
	.ddbc-signed-number__sign,
	span.ct-spell-detail__components-description,
	.ddbc-spell-name__level,
	.ct-skills__additional--empty,
	.ct-skill-pane__header-ability,
	.ct-character-sheet--dice-enabled .integrated-dice__container,
	.ct-reset-pane__intro,
	.ct-custom-skill-pane__header-ability,
	.dice_result__info__dicenotation,
	.dice_result__info__breakdown strong,
	.dice_result__total,
	.dice_notification_controls span,
	.ct-actions__attacks-per-action,
	.ddbc-weight-number__label,
	.ct-equipment-overview__weight-speed,
    .ct-character-manage-pane,
    .ct-character-manage-pane__class-list-item-label,
    .ct-character-manage-pane__class-list-item-meta,
    .ct-dice-preference-manager__link-out-label,
    .ct-dice-preference-manager__primary-info-version,
    ._1_4XN--HbdIB3j-9HVLY3F._1YyaUXFtqDrdcyg8t55fTr
	{
		color: /*[[fontColor]]*/;
	}
	.ddbc-tab-list__nav-item--is-active,
	.site .ddbc-theme-link,
	.ct-actions__attacks-heading,
	.ct-actions-list__heading,
	.ct-content-group__header-content,
	.ct-spells-spell__at-will,
	.ct-spells-spell__as-ritual,
	.ct-spells-filter__clear,
	.ddbc-note-components__component--scaled,
	.ct-class-detail__name,
	.ct-trait-content--no-content .ct-trait-content__content,
	.ct-notes__note--no-content,
	.ddbc-creature-block__name,
	.ddbc-creature-block__abilities,
	.ddbc-creature-block__description-block-heading,
	a:visited,
	a:hover,
	a,
    .beyond20-message details summary, .beyond20-title,
    .ct-spells-filter__clear, 
    .ct-inventory-filter__clear,
    .ct-extras-filter__clear
	{
		color: /*[[highlightColor]]*/ !important;
	}

	.ct-character-sheet--dice-enabled .integrated-dice__container span {
		color: /*[[rollColor]]*/;
	}

	/*If you hit the beautify button add a space between each 0 and / */
	.ct-combat__summary-label--outline,
	.ct-inspiration__label,
	.ct-combat-tablet__initiative-label {
		text-shadow: 1px 1px 0 /*[[sheetColor]]*/
		, -1px -1px 0 /*[[sheetColor]]*/
		, -1px 1px 0 /*[[sheetColor]]*/
		, 1px -1px 0 /*[[sheetColor]]*/
	}




	/*Borders*/
	.ct-health-summary__adjuster-field-input,
	.ct-character-header-desktop__button,
	.site .ct-button.ct-theme-button--outline,
	.site .ct-button.ct-theme-button--filled:disabled,
	.site .ct-button.ct-theme-button--filled,
	.ddbc-campaign-summary,
	.ct-sidebar__pane-gap,
	.ct-sidebar__pane-content,
	.ct-combat-tablet__cta-button,
	.ct-status-summary-mobile__health,
	.ct-status-summary-mobile__button,
	.ct-character-header-tablet__button,
	.ct-tablet-box__border,
    .integrated-dice-menu__item,
    .body-rpgcharacter-sheet .site-bar,
    .ct-character-header-desktop__group--game-log,
    ._3A6FDLVnjjt8AEw9hQLvFY,
    .ct-character-header__group--game-log{
		border-color: /*[[borderColor]]*/
		!important;
	}
    .integrated-dice-menu-carrot{
        border-top-color: /*[[borderColor]]*/
    }

	.ddbc-tab-list__nav-item--is-active {
		border-bottom-color: /*[[highlightColor]]*/
	}

	.ct-spell-caster__casting-action-count.ct-spell-caster__casting-action-count--spellcasting,
	.ct-quick-nav__button,
	.ct-quick-nav__button:hover,
    .ct-character-sheet--dice-enabled .ddbc-combat-attack--crit .ddbc-combat-attack__damage .integrated-dice__container:hover,
    .ct-character-sheet--dice-enabled .ddbc-combat-attack--crit .ddbc-combat-attack__damage .integrated-dice__container,
    .beyond20-roll-cell{
		border-color: /*[[highlightColor]]*/;
	}
	.ct-character-sheet--dice-enabled .integrated-dice__container:hover {
		border-color: /*[[rollColor]]*/;
	}
	.ct-character-sheet--dice-enabled .integrated-dice__container {
		border: none;
	}
    .integrated-dice-menu-carrot:after{
        border-top-color: /*[[sheetColor]]*/
    }
    
    .integrated-dice__container:hover
    {
        border-width: 1px !important;
    }
    
    input[type="text"], input[type="number"], input[type="search"], input[type="password"], input[type="email"], textarea, select{
        opacity: initial;
    }
    .ct-inventory-filter__adv-filter-button,
    .ct-extras-filter__adv-filter-button,
    .ct-spells-filter__adv-filter-button,
    .site .ct-button.ct-theme-button--filled{
        border: solid 1px /*[[highlightColor]]*/ !important;
    }

	/*Icon Filter for dark theme*/
	.ddbc-combat-attack__icon,
	.ddbc-note-components i,
	.ct-spells-spell__damage i,
	.ct-spell-caster i,
	.ddbc-property-list__property-content i,
	.ddbc-damage__icon i,
	.ddbc-tab-options__nav.ddbc-tab-options__nav--no-border i,
	.ct-spells-spell__name i,
	.ddbc-spell-name i,
	.ct-inventory-item__name i,
	.ddbc-healing-icon__icon,
	.ct-condition-manage-pane__conditions i,
	.ajs-content iframe,
    .i-req-attunement{
		filter: /*[[filter]]*/
		!important;
	}

	.ajs-content iframe html {
		filter: hue-rotate(180deg) !important;
	}


	/*Fills and Strokes*/
	.ct-skills__col--proficiency circle,
	.ct-skills__col--proficiency path,
	.ddbc-saving-throws-summary__ability-proficiency circle,
	.ddbc-svg.ddbc-builder-svg.ddbc-svg--light path,
	.ddbc-svg.ddbc-long-rest-svg.ddbc-svg--themed path,
	.ddbc-svg.ddbc-short-rest-svg.ddbc-svg--themed path,
	.ddbc-svg.ddbc-share-svg.ddbc-svg--themed path,
	svg.ddbc-svg.ct-sidebar__control-icon path,
	svg.ddbc-svg.ct-sidebar__control-icon polygon,
	svg.ddbc-svg.ct-sidebar__control-icon rect,
	.ct-value-editor__property-value path,
	.ddbc-collapsible__header-status path,
	.ddbc-popout-menu__item path,
	.ddbc-popout-menu__item circle,
	.ct-inspiration__status.ct-inspiration__status--active g:first-child path,
	.ct-spells-filter__advanced path,
	.ddbc-checkbox--is-enabled .ddbc-checkbox__input .ddbc-check-svg path,
	.ddbc-attunement-slot.ddbc-attunement-slot--filled path,
	.ddbc-svg.ddbc-proficiency-svg.ddbc-proficiency-icon.ddbc-proficiency-level-icon circle,
	.ddbc-svg.ddbc-proficiency-half-svg.ddbc-half-proficiency-icon.ddbc-proficiency-level-icon path,
	.ddbc-svg.ddbc-proficiency-half-svg.ddbc-twice-proficiency-icon__inner circle,
	.ddbc-svg.ddbc-proficiency-half-svg.ddbc-twice-proficiency-icon__inner path,
    .ddbc-svg.ddbc-dice-svg.ddbc-svg--themed path,
    .ddbc-svg.ddbc-link-out-svg.ddbc-svg--light path,
    svg.ddbc-svg.ddbc-builder-svg.ddbc-svg--themed path,
    svg.ddbc-svg.ddbc-manage-level-svg.ddbc-svg--themed circle,
    svg.ddbc-svg.ddbc-backdrop-svg.ddbc-svg--themed path,
    svg.ddbc-svg.ddbc-theme-icon-svg.ddbc-svg--themed path,
    svg.ddbc-svg.ddbc-portrait-svg.ddbc-svg--themed path,
    svg.ddbc-svg.ddbc-preferences-svg.ddbc-svg--themed path,
    svg.ddbc-svg.ddbc-export-svg.ddbc-svg--themed path,
    .ddbc-svg.ddbc-chevron-svg.ddbc-chevron-right-svg.ddbc-svg--builder path,
    .ddbc-svg.ddbc-chevron-svg.ddbc-chevron-down-svg.ddbc-svg--disabled path,
    .ct-extras-filter__advanced svg path,
    .ct-inventory-filter__advanced svg path,
    .ct-character-header-desktop__group--game-log path
    {
		fill: /*[[highlightColor]]*/
		!important;
	}
	svg > path + path,
	.ct-combat__statuses path,
	.ct-initiative-box path,
	.ct-inspiration path,
	.ct-proficiency-groups-box path,
	.ddbc-attunement-slot.ddbc-attunement-slot--empty path
    {
		fill: /*[[borderColor]]*/
		!important;
	}

	svg > path,
	.ct-combat__statuses polygon,
	.ct-initiative-box polygon,
	#InspirationBoxSvg-Fill-1,
	.ddbc-svg.ddbc-ability-score-box-svg > path:nth-child(2),
	.ct-proficiency-groups-box polygon,
	.ct-sidebar__pane-top path,
	.ct-sidebar__pane-bottom path,
    svg.ddbc-svg.ddbc-manage-level-svg.ddbc-svg--themed path
    {
		fill: /*[[sheetColor]]*/
		!important;
	}
	.ct-sidebar__pane-bottom path,
	.ct-sidebar__pane-top path {
		stroke: /*[[borderColor]]*/
	}
	.ddbc-svg.ddbc-long-rest-svg.ddbc-svg--themed ellipse,
	svg.ddbc-svg.ct-sidebar__control-icon line,
	.ddbc-popout-menu__item-prefix rect,
    svg.ddbc-svg.ddbc-frame-svg.ddbc-svg--themed rect
    {
		stroke: /*[[highlightColor]]*/;
	}

	/*Selection settings */
	::selection {
		background: /*[[highlightColor]]*/
		!important;
		color: /*[[fontColor]]*/
		!important;
	}
	::-moz-selection {
		background: /*[[highlightColor]]*/
		!important;
		color: /*[[fontColor]]*/
		!important;
	}

	

	/*Fixed settings*/
	button.ct-theme-button.ct-health-summary__adjuster-button.ct-health-summary__adjuster-button--heal.ct-theme-button--outline.ct-theme-button--interactive.ct-button.character-button.character-button-block-small:hover {
		background: #040 !important;
	}
	button.ct-theme-button.ct-health-summary__adjuster-button.ct-health-summary__adjuster-button--damage.ct-theme-button--outline.ct-theme-button--interactive.ct-button.character-button.character-button-block-small:hover {
		background: #400 !important;
	}
	.ddbc-item-name--rarity-very-rare,
	.very-rare {
		color: #9810E0 !important;
	}
	.ddbc-item-name--rarity-rare,
	.rare {
		color: #4990E2 !important;
	}
	.ddbc-item-name--rarity-uncommon,
	.uncommon {
		color: #1FC219 !important;
	}
	.ddbc-item-name--rarity-legendary,
	.legendary {
		color: #FEA227 !important;
	}

	.ct-slot-manager__slot,
	.site .ct-theme-button--filled.ct-button:hover {
		box-shadow: none;
	}

	.ct-equipment-overview__weight-speed--encumbered,
	.ct-equipment-overview__weight-speed--heavily-encumbered,
	.ct-equipment-overview__weight-speed--over-carrying-capacity,
	.ct-equipment-overview__weight-speed--push-drag-lift {
		color: #d24040;
	}

}

@-moz-document regexp("https://www.dndbeyond.com/profile/.*/characters/\\d*"),
regexp("https://www.dndbeyond.com/characters/.*"), regexp("https://www.dndbeyond.com/encounter-builder"), regexp("https://www.dndbeyond.com/combat-tracker/.*"), regexp("https://www.dndbeyond.com/monsters/.*"), regexp("https://www.dndbeyond.com/campaigns/.*"), regexp("https://www.dndbeyond.com/encounters/.*") {

/*Dice Alpha Size and position changes*/
	.ct-character-sheet--dice-enabled .ct-skills__item .integrated-dice__container,
	.ct-character-sheet--dice-enabled .ct-spells-spell__tohit .integrated-dice__container,
	.ct-character-sheet--dice-enabled .ddbc-combat-attack__tohit .integrated-dice__container
    {
		height: auto;
		font-size: 15px;
		width: auto;
		margin-bottom: 0px;
	}
    .ct-character-sheet--dice-enabled .ct-skills__item .ct-skills__col--skill{
    padding: 2px 0px !important;
    }

	.ct-skills__item .ct-skills__col--modifier, 
    .ct-skills__item .ct-skills__col--adjustments {
		padding: 0px !important;
		line-height: 16px;
	}
    .tippy-popper{
        z-index: 60000 !important;
    }

    .ct-character-sheet--dice-enabled .ddbc-combat-attack__tohit .integrated-dice__container,
    .ct-character-sheet--dice-enabled .ddbc-combat-attack__damage .integrated-dice__container,
	.ct-character-sheet--dice-enabled .ddbc-combat-item-attack__damage .integrated-dice__container,
	.ct-character-sheet--dice-enabled .ddbc-spell-damage-effect__damages .integrated-dice__container,
	.ct-character-sheet--dice-enabled .ddbc-spell-damage-effect__healing .integrated-dice__container,
    .ct-character-sheet--dice-enabled .ct-skills__col--modifier .integrated-dice__container,
    .ct-character-sheet--dice-enabled .ddbc-combat-attack__tohit .integrated-dice__container,
    .ct-character-sheet--dice-enabled .ddbc-ability-summary__primary .integrated-dice__container,
    .ct-character-sheet--dice-enabled .ct-initiative-box__value .integrated-dice__container
    .ct-character-sheet--dice-enabled .ddbc-combat-attack__tohit .integrated-dice__container:hover,
    .ct-character-sheet--dice-enabled .ddbc-combat-attack__damage .integrated-dice__container:hover,
	.ct-character-sheet--dice-enabled .ddbc-combat-item-attack__damage .integrated-dice__container:hover,
	.ct-character-sheet--dice-enabled .ddbc-spell-damage-effect__damages .integrated-dice__container:hover,
	.ct-character-sheet--dice-enabled .ddbc-spell-damage-effect__healing .integrated-dice__container:hover,
    .ct-character-sheet--dice-enabled .ct-skills__col--modifier .integrated-dice__container:hover,
    .ct-character-sheet--dice-enabled .ddbc-combat-attack__tohit .integrated-dice__container:hover,
    .ct-character-sheet--dice-enabled .ddbc-ability-summary__primary .integrated-dice__container:hover,
    .ct-character-sheet--dice-enabled .ct-initiative-box__value .integrated-dice__container:hover
    
    {
		padding: 0px 1px;
		height: auto;
	}
    

	.ddbc-tab-list .integrated-dice__container span {
		font-size: 14px;
	}

	.dice_result__divider {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='19' height='80' viewBox='0 0 19 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='/*[[fontColor]]*/' d='M10 0v35H9V0z'/%3E%3Cpath fill='/*[[fontColor]]*/' d='M10 70v105H9V70Z'/%3E%3Cpath fill='/*[[rollCalcColor]]*/' d='M19 68H0V33h19z'/%3E%3Cpath fill='/*[[fontColor]]*/' d='M19 57H0v-3h19zM19 47H0v-3h19z'/%3E%3C/svg%3E")
	}
    .sidebar__pane-content{
       	background-color: /*[[sheetColor]]*/
		!important;	
    }
    .sidebar__pane-content{
        border: 1px solid /*[[borderColor]]*/;
        box-shadow: none;
    }

    [class^="DiceMessage_Number"],
    [class^="DiceMessage_Total"],
    [class^="DiceMessage_Line"],
    [class^="GameLogEntry_"],
    ._1_4XN--HbdIB3j-9HVLY3F,
    ._31r1gjOw0T79LKVLAldcq0
    {
        color: /*[[fontColor]]*/
		!important;
    }
    
	.dice_result,
	.dice_notification_controls .dice_notification_control,
	.dice-toolbar,
	.dice-toolbar:hover,
	.dice-toolbar__dropdown-selected .dice-toolbar__dropdown-die,
	.dice-die-button,
    .ct-character-sheet--dice-enabled .ddbc-combat-attack__damage .integrated-dice__container:hover,
	.ct-character-sheet--dice-enabled .ddbc-combat-item-attack__damage .integrated-dice__container:hover,
	.ct-character-sheet--dice-enabled .ddbc-spell-damage-effect__damages .integrated-dice__container:hover,
	.ct-character-sheet--dice-enabled .ddbc-spell-damage-effect__healing .integrated-dice__container:hover,
    .ct-character-sheet--dice-enabled .ct-skills__col--modifier .integrated-dice__container:hover,
    .ct-character-sheet--dice-enabled .ddbc-combat-attack__tohit .integrated-dice__container:hover,
    .ct-character-sheet--dice-enabled .ddbc-ability-summary__primary .integrated-dice__container:hover,
    .ct-character-sheet--dice-enabled .ct-initiative-box__value .integrated-dice__container:hover,
    .ct-character-sheet--dice-enabled .ct-skills__item .integrated-dice__container:hover,
	.ct-character-sheet--dice-enabled .ct-spells-spell__tohit .integrated-dice__container:hover,
    .ct-character-sheet--dice-enabled .ddbc-combat-attack--crit .ddbc-combat-attack__damage .integrated-dice__container:hover,
    [class^="GameLogEntry_Message_"],
    ._1_4XN--HbdIB3j-9HVLY3F,
    ._1KM4FtjuhNomsZCIfBsJQ1{
		background: /*[[rollCalcColor]]*/ !important;
	}
	.dice-toolbar:hover,
    .GameLogEntry_Message__LMnm6,
    ._1_4XN--HbdIB3j-9HVLY3F{
		border: 1px solid /*[[rollColor]]*/ !important;
	}
	.dice-toolbar__dropdown-selected .dice-toolbar__dropdown-die,
	.dice-toolbar__dropdown-selected .dice-toolbar__dropdown-die:hover,
    .GameLogEntry_Message__1GoY3.GameLogEntry_Other__2PSbv{
		border-color: /*[[rollColor]]*/
		!important;
	}
	.dice_result__info .dice-icon-die {
		background-color: /*[[fontColor]]*/;
	}

	.dice_notification_controls__clear i {
		background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8h-6V2a1 1 0 10-2 0v6H2a1 1 0 100 2h6v6a1 1 0 102 0v-6h6a1 1 0 100-2z' fill='/*[[fontColor]]*/'/%3E%3C/svg%3E")
	}

	.dice_notification_controls__uncollapse i {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.707 4.293a.999.999 0 00-1.414 0L9 11.586 1.707 4.293A.999.999 0 10.293 5.707l8 8a.997.997 0 001.414 0l8-8a.999.999 0 000-1.414z' fill='/*[[fontColor]]*/'/%3E%3C/svg%3E")
	}

	.dice_notification_controls__collapse i {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.707 4.293a.999.999 0 00-1.414 0L9 11.586 1.707 4.293A.999.999 0 10.293 5.707l8 8a.997.997 0 001.414 0l8-8a.999.999 0 000-1.414z' fill='/*[[fontColor]]*/'/%3E%3C/svg%3E")
	}
    
    .dice-rolling-panel,
    .ct-sidebar,
    .sidebar{
        z-index: /*[[zindex]]*/ !important;
    }

        
    .ct-character-sheet--dice-enabled .integrated-dice__container:hover~.ddbc-saving-throw-selection-box-svg path, 
    .ct-character-sheet--dice-enabled .integrated-dice__container:hover~.ddbc-saving-throw-selection-small-box-svg path
    {
        fill: /*[[rollCalcColor]]*/ !important;
    }
    
    ._1_4XN--HbdIB3j-9HVLY3F path{
        fill: /*[[fontColor]]*/ !important;
    }
    
/*Beyond 20 rolls settings*/
    
    .beyond20-roll-cell,
	.beyond20-description,
	.beyond20-dice-roller-content,
	.ajs-footer,
	.beyond20-message .beyond20-description,
	.beyond20-message details table,
	.beyond20-tooltip .beyond20-tooltip-content,
	.dice-formula.beyond20-roll-formula,
	.beyond20-roll-cell,
	.beyond20-roll-die-result,
    .ajs-dialog,
	.ajs-header,
	.ajs-primary.ajs-buttons,
    .beyond20-roll-detail-normal{
        background-color: /*[[sheetColor]]*/ !important;
		color: /*[[fontColor]]*/ !important;
    }
    
    .beyond20-roll-cell, 
    .beyond20-message details summary, 
    .beyond20-title,
    .beyond20-dice-roller-content,
    .beyond20-tooltip .beyond20-tooltip-content,
    .beyond20-roll-cell, 
    .beyond20-roll-die-result{
        border-color: /*[[highlightColor]]*/ !important;

    }
    
    .beyond20-message details summary, .beyond20-title{
        color: /*[[highlightColor]]*/ !important;
    }
    
    .beyond20-roll-detail-crit-fail,
    .beyond20-roll-detail-fail{
        color: #F00 !important;  
    }
    
    .beyond20-roll-detail-crit{
        color: #0F0 !important;
    }
    
}
