/* ==UserStyle==
@name         DNDBeyond Dark Theme
@preprocessor uso
@namespace    Azmoria (Jay_Lane)
@version      1.0.4
@author       Azmoria (Jay_Lane)
@updateURL https://github.com/Azmoria/dndbeyonddark/raw/master/DNDBeyond%20site%20dark.user.css
@var color backgroundColor "Background Color" #000
@var color transparencyBackgroundColor "Background Color of things that can be transparent" #000000e0
@var color fontColor "Font Color" #c0c0c0
@var color linkColor "Link Color" #88bcd6
@var color borderColor "Border Color" #fff
@var text borderStyle "Border Style eg. dotted" "solid"
@var text borderWidth "Border Width eg. 2px" "1px"
@var color scrollbarColor "Scrollbar Color" #88bcd6
==/UserStyle==*/
/* Alternative Color for font to match DND Beyond Green #47D18C */
@-moz-document url-prefix("https://www.dndbeyond.com/sources"),
url-prefix("https://www.dndbeyond.com/forums"),
url-prefix("https://www.dndbeyond.com/spells"),
url-prefix("https://www.dndbeyond.com/classes"),
url-prefix("https://www.dndbeyond.com/monsters"),
url-prefix("https://www.dndbeyond.com/magic-items"),
url-prefix("https://www.dndbeyond.com/backgrounds"),
url-prefix("https://www.dndbeyond.com/feats"),
url-prefix("https://www.dndbeyond.com/equipment"),
url-prefix("https://www.dndbeyond.com/vehicles"),
url-prefix("https://www.dndbeyond.com/homebrew"),
url-prefix("https://www.dndbeyond.com/races"),
url-prefix("https://www.dndbeyond.com/posts"),
url-prefix("https://www.dndbeyond.com/my-collection"),
url-prefix("https://www.dndbeyond.com/my-creations"),
url-prefix("https://www.dndbeyond.com/my-campaigns"),
url-prefix("https://www.dndbeyond.com/campaigns"),
regexp("https://www.dndbeyond.com/profile/.*/characters/.*/builder#/.*"), regexp("https://www.dndbeyond.com/characters/builder#/"),
url-prefix("https://www.dndbeyond.com/my-characters"),
url-prefix("https://www.dndbeyond.com/search"),
url-prefix("https://www.dndbeyond.com/modifier/") {



	::-webkit-scrollbar {
		width: 3px;
	}

	::-webkit-scrollbar-track {
		background: /*[[backgroundColor]]*/;
	}
	::-webkit-scrollbar-thumb {
		background-color: /*[[scrollbarColor]]*/;
		border-radius: 6px;
		border: none;
	}
	body.responsive-enabled #site #site-main .container #content,
	body.responsive-enabled #site #site-main.fixed .container #content,
	#site-main,
	.compendium-hr,
	.sidebar-menu,
	.secondary-content,
	.top-next-nav,
	.b-breadcrumb,
	.sidebar-menu-top,
	.sidenav-next-nav,
	.sidenav-prev-page,
	.quick-menu-tier-1,
	#site .forum-row td,
	#site .forum-thread-row td,
	#site .forum-row .status-icon,
	.p-forum-a .announcements .forum-thread-row,
	#site .forum-row .status-icon,
	#site .forum-thread-row .status-icon,
	.forum-thread-row .col-thread .title,
	.p-comments-b .p-comment-wrapper,
	.body-forum .comment-preview li .p-comment-wrapper,
	.body-forum-search .p-comments-a .p-comment-wrapper,
	body.body-forum .single-column #content .p-forum-a .p-comment-post p,
	body.body-user .single-column #content .p-forum-a .p-comment-post p,
	body.body-devtracker .single-column #content .p-forum-a .p-comment-post p,
	.comment .p-comment-notes .p-comment-edit-notes,
	.comment .p-comment-notes .p-comment-edited,
	.comment .p-comment-user-background,
	.comment .source-quote .quote-source,
	.comment .source-quote,
	body.body-forum .single-column #content .p-forum-a table:not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton) tr td,
	body.body-user .single-column #content .p-forum-a table:not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton) tr td,
	body.body-devtracker .single-column #content .p-forum-a table:not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton) tr td,
	.p-comments-b .p-comment-user .p-comment-stats .p-comment-statitem .postbit-item,
	.body-forum .comment-preview li .p-comment-user .p-comment-stats .p-comment-statitem .postbit-item,
	.body-forum-search .p-comments-a .p-comment-user .p-comment-stats .p-comment-statitem .postbit-item,
	blockquote,
	.mce-panel,
	.mce-container,
	.mce-container *,
	.mce-widget,
	.mce-widget *,
	.mce-reset,
	.body-forum .listing .b-table-header .b-table-heading,
	.body-forum .listing .b-table-header .b-table-heading a,
	.select2-container-multi .select2-choices .select2-search-field input,
	.listing-filters .form-field input,
	.listing-filters .form-field select,
	.irace-listing .more-info,
	.RPGMonster-listing .more-info,
	.RPGMagicItem-listing .more-info,
	.ihomebrewable-listing .more-info,
	.RPGSpell-listing .more-info,
	.IGear-listing .more-info,
	.RPGFeat-listing .more-info,
	.RPGBackground-listing .more-info,
	.RPGSubclass-listing .more-info,
	.ddb-statblock-item-label,
	.ddb-statblock-item-value,
	.irace-listing .more-info-body-description,
	.RPGMagicItem-listing .more-info-body-description,
	.ihomebrewable-listing .more-info-body-description,
	.RPGSpell-listing .more-info-body-description,
	.IGear-listing .more-info-body-description,
	.RPGFeat-listing .more-info-body-description,
	.RPGBackground-listing .more-info-body-description,
	.RPGSubclass-listing .more-info-body-description,
	.irace-listing .more-info-footer-tags .tag,
	.RPGMonster-listing .more-info-footer-tags .tag,
	.RPGMagicItem-listing .more-info-footer-tags .tag,
	.ihomebrewable-listing .more-info-footer-tags .tag,
	.RPGSpell-listing .more-info-footer-tags .tag,
	.IGear-listing .more-info-footer-tags .tag,
	.RPGFeat-listing .more-info-footer-tags .tag,
	.RPGBackground-listing .more-info-footer-tags .tag,
	.RPGSubclass-listing .more-info-footer-tags .tag,
	.static-container-details .content-container table thead th,
	.static-container-details .content-container table tbody tr:nth-child(odd),
	.static-container-details .content-container table tbody tr,
	.sidebar-menu-top-link,
	.comment .p-comment-container,
	.p-comments-a .p-comment-wrapper,
	.ddb-collapsible-filter__box,
	.listing-card__content,
	.irace-listing .more-info-body-description table tbody tr,
	.RPGMonster-listing .more-info-body-description table tbody tr,
	.RPGMagicItem-listing .more-info-body-description table tbody tr,
	.ihomebrewable-listing .more-info-body-description table tbody tr,
	.RPGSpell-listing .more-info-body-description table tbody tr,
	.IGear-listing .more-info-body-description table tbody tr,
	.RPGFeat-listing .more-info-body-description table tbody tr,
	.RPGBackground-listing .more-info-body-description table tbody tr,
	.RPGSubclass-listing .more-info-body-description table tbody tr,
	.irace-listing .more-info-body-description table thead th,
	.RPGMonster-listing .more-info-body-description table thead th,
	.RPGMagicItem-listing .more-info-body-description table thead th,
	.ihomebrewable-listing .more-info-body-description table thead th,
	.RPGSpell-listing .more-info-body-description table thead th,
	.IGear-listing .more-info-body-description table thead th,
	.RPGFeat-listing .more-info-body-description table thead th,
	.RPGBackground-listing .more-info-body-description table thead th,
	.RPGSubclass-listing .more-info-body-description table thead th,
	.details-container-content-description-text,
	.compendium-toc-full-text,
	.listing-filters .form-field .select2-container .select2-choices,
	.listing-filters .form-field .select2-container .select2-choice,
	.listing-filters .form-field-text-field > div:not(:first-child),
	.compendium-disclaimer-footer,
	.compendium-toc-block-text,
	li.b-pagination-item a[rel="prev"]:not(.s-active),
	li.b-pagination-item a[rel="next"]:not(.s-active),
	li.b-pagination-item .b-pagination-item:not(.s-active),
	blockquote.adventure-read-aloud-text,
	.body-page .p-article-a .p-article-content table thead th,
	.section-posts .p-article-a .p-article-content table thead th,
	.p-article-a .section-changelog .p-article-content table thead th,
	.body-page .p-article-a .p-article-content table tbody tr td,
	.section-posts .p-article-a .p-article-content table tbody tr td,
	.p-article-a .section-changelog .p-article-content table tbody tr td,
	.Basic-Text-Frame,
	aside,
	.section-posts .p-article-a,
	.section-changelog .p-article-a,
	.p-article-a .p-article-footer .p-article-tags .tag,
	.post-excerpt__content,
	.ddb-campaigns-list-item,
	.ddb-campaigns-invite-wrapper,
	.ddb-campaigns-detail-body-listing-campaign-link,
	.ddb-campaigns-character-card-footer,
	.more-info,
	.details-container,
	.details-container-content-footer .tags .tag,
	.details-container-content-description-text table thead th,
	.details-container-content-description-text table tbody tr td,
	.more-info-content table tbody tr,
	.more-info-content table thead th,
	.vehicle-stat-block,
	.vehicle-stat-block__attribute,
	.vehicle-stat-block__feature,
	.vehicle-stat-block__stat-block .ability-block,
	.vehicle-stat-block__description-block-heading,
	.mon-stat-block,
	input[type="text"],
	input[type="number"],
	input[type="search"],
	input[type="password"],
	input[type="email"],
	textarea,
	select,
	.filter-listing-item,
	.ability-score-calc-component-value,
	.collapsible-body,
	.textarea-editor,
	.equipment-manager-inventory-header,
	.site .character-button-outline,
	.ct-item-detail__tag,
	.ddb-characters-listing-actions__search-box,
	.more-info footer .tags .tag,
	.ddb-top-result,
	.classes-manage-hitpoints,
	.ddb-homebrew-portal-wrapper,
	.ddb-homebrew-portal-item .button,
	.select2-drop,
	.select2-container .select2-choice,
	.ddb-homebrew-create-special .button,
	.ddb-homebrew-create-special .listing-body table thead th,
	.ddb-homebrew-create-special .listing-body table tbody tr td,
	#site .select2-search-choice,
	.select2-container-multi .select2-choices,
	.select2-results .select2-no-results,
	.select2-results .select2-searching,
	.select2-results .select2-ajax-error,
	.select2-results .select2-selection-limit,
	#es-form-main,
	input,
	ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ddb-search-autocomplete,
	.body-rpgcharacterbuilder th,
	.body-rpgcharacterbuilder td,
    .body-rpgcharacterbuilder.site,
    .builder-type-options,
    .fullscreen-modal-content,
    .p-forum-a .statistics .statistics-body,
    .listing-forum-search .statistics .statistics-body,
    body.hide-ads footer#footer, body.disable-ads footer#footer,
    .u-dropDown .u-dropDownMenu li>a:hover,
    .u-dropDown .u-dropDownMenu li>a,
    .u-dropDown .u-dropDownMenu li>a span,
    .u-dropDown .u-dropDownMenu li,
    .u-dropDown .u-dropDownMenu,
    body.body-forum .single-column #content .p-forum-a .p-comment-post .u-dropDown span,
    .ct-spell-detail__tag,
    .class-spell-list-header{
		background-color: /*[[backgroundColor]]*/
		!important;
		color: /*[[fontColor]]*/
		!important;
	}
	.listing-card__body,
	.ddb-top-result-footer .button-rule,
	.ddb-top-result-footer .button-wprop,
	.ddb-top-result-footer .button-page,
	.ddb-top-result-footer .button-skill,
	.ddb-top-result-footer .button-action,
	.ddb-top-result-footer .button-condition,
	.portal-listing-item-body-buttons .button-homebrew,
	.portal-listing-item-body-buttons .button-homebrew:hover{
		background-color: /*[[transparencyBackgroundColor]]*/
	}

	.irace-listing .more-info,
	.RPGMonster-listing .more-info,
	.RPGMagicItem-listing .more-info,
	.ihomebrewable-listing .more-info,
	.RPGSpell-listing .more-info,
	.IGear-listing .more-info,
	.RPGFeat-listing .more-info,
	.RPGBackground-listing .more-info,
	.RPGSubclass-listing .more-info {
		width: 100%;
	}

	::selection {
		background: #aaa !important;
		color: #ddd !important;
	}
	::-moz-selection {
		background: #aaa !important;
		color: #ddd !important;
	}
	.RPGMonster-listing .more-info {
		color: #000 !important;
	}

	.extra-forum-header,
	.p-forum-a .col-forum .active-viewers,
	.body-forum .listing .b-table-header .b-table-heading,
	.listing .info .row > span,
	.adohand > div span,
	.listing-filters .main-filter .main-list .item label,
	.static-container-details .content-container p,
	input[type="text"],
	input[type="number"],
	input[type="search"],
	input[type="password"],
	input[type="email"],
	textarea,
	select,
	.listing-card__description,
	.ddb-collapsible__label,
	.list-row-primary-text,
	.list-column-header-item,
	.page-title,
	.button span,
	.u-button span,
	.select2-chosen,
	.listing-filters .form-field-text-field > div:not(:first-child) span,
	body.body-forum .single-column #content .p-forum-a .user-actions-forums + h2,
	body.body-forum .single-column #content .p-forum-a .user-actions-threads + h2,
	.p-comments-b .p-comment-user,
	.body-forum .comment-preview li .p-comment-user,
	.body-forum-search .p-comments-a .p-comment-user,
	.content-container h1,
	.content-container h2,
	.content-container h3,
	.content-container h4,
	.content-container h5,
	.content-container h6,
	.ddb-campaigns-listing-active-header-secondary,
	.ddb-campaigns-listing-inactive-header-secondary,
	.ddb-campaigns-listing-active-header-primary,
	.ddb-campaigns-listing-inactive-header-primary,
	.ddb-campaigns-list-item-body-title,
	.ddb-campaigns-list-item-body-date,
	.ddb-campaigns-list-item-body-players .player-count .count,
	.ddb-campaigns-list-item-body-players .slots-used .count,
	.ddb-campaigns-list-item-body-players .player-count .label,
	.ddb-campaigns-list-item-body-players .slots-used .label,
	.ddb-campaigns-list-item-body-role,
	.ddb-campaigns-list-item-body-sharing,
	.ddb-campaigns-invite-secondary,
	.ddb-campaigns-detail-body-listing-header-primary,
	.ddb-campaigns-detail-body-listing-header-secondary,
	.mon-stat-block__attribute-label,
	.mon-stat-block__feature-label,
	.mon-stat-block__attribute,
	.mon-stat-block__feature,
	.mon-stat-block__stat-block .ability-block,
	.mon-stat-block__tidbit,
	.mon-stat-block__description-block-heading,
	.mon-stat-block__description-block h3,
	.builder-field-toggle-description,
	.builder-field-select-description,
	.ct-item-name--rarity-common,
	.ddb-characters-listing-actions__sort-label,
	.ddb-characters-listing-header-primary-title,
	.ddb-search-results-listing-item-body-snippet,
	.ddb-search-results-counts-text,
	.ddb-search-filter-item.selected > div > div,
	.ddb-campaigns-detail-body-dm-notes-label .text,
	.ddb-campaigns-detail-header-secondary-description p,
	.ddb-homebrew-portal-item-header-text,
	.ddb-homebrew-portal-item-selector-label,
	.ddb-homebrew-create-header-secondary-text,
	.ddb-homebrew-create-header-primary-text,
	.ddb-homebrew-create-header-secondary-text,
	.ddb-homebrew-create-form-fields-item-label,
	.ddb-homebrew-create-form-fields-item-label.tip::after,
	#site .select2-search-choice div,
	input#field-large-avatar,
	input#field-avatar,
	.ddb-top-result-header-secondary-text,
	.ddb-statblock-ability-scores .score,
	.ddbc-item-name--rarity-common,
	.p-comments span,
    body.body-forum .single-column #content .p-forum-a footer.statistics .statistics-body .info .item, 
    body.body-forum .single-column #content .p-forum-a footer.statistics .statistics-body .count .item{
		color: /*[[fontColor]]*/
		!important;
	}


	.thread-prefix span.thread-prefix {
		background-color: #333;
	}
	.select2-container-multi .select2-choices {
		padding: 0px;
	}

	a,
	a:visited,
	a > span,
	span[role=button],
	.forum-row .col-forum .title a,
	.content-container h3 a,
	.tooltip-hover,
	.tooltip-hover:hover,
	.tooltip-hover:focus,
	.tooltip-hover:active,
	.tooltip-hover:visited,
    h4.adventure-chapter-header a{
		color: /*[[linkColor]]*/
		!important
	}
	.quick-menu-item-label {
		border: none;
	}
	.quick-menu-item-active > .quick-menu-item-label {
		border-left-color: /*[[linkColor]]*/
		!important;
		border-left-width: 3px;
		border-left-style: solid;
	}
	.quick-menu-item-closed > .quick .sidenav-next-nav,
	.sidebar-menu.se-fixed,
	.listing .info:nth-of-type(8n+1),
	.listing .info:nth-of-type(8n+3),
	.listing .info:nth-of-type(8n+5),
	.listing .info:nth-of-type(8n+7),
	.listing .info:nth-of-type(8n+2),
	.listing .info:nth-of-type(8n+4),
	.listing .info:nth-of-type(8n+6),
	.listing .info:nth-of-type(8n+8),
	li:nth-of-type(odd) .list-row,
	li:nth-of-type(even) .list-row,
	.compendium-toc-full-text,
	blockquote.adventure-read-aloud-text,
	.body-category-details .section-compendium-content .page-heading,
	h2.adventure-chapter-header,
	aside.rules-text,
	.compendium-toc-full-header h2,
	.compendium-toc-block-header h2,
	.compendium-toc-block-text,
	aside,
	body:not(.body-forum):not(.section-posts):not(.section-changelog):not(.body-privatemessage-details) blockquote,
	.post-excerpt,
	ddb-campaigns-list-item-wrapper,
	.ddb-campaigns-list-item,
	.ddb-campaigns-character-card,
	.collapsible,
	.textarea-editor,
	.equipment-manager-inventory-header,
	.ddb-top-result,
	.ddb-top-result-footer .button-rule,
	.ddb-top-result-footer .button-wprop,
	.ddb-top-result-footer .button-page,
	.ddb-top-result-footer .button-skill,
	.ddb-top-result-footer .button-action,
	.ddb-top-result-footer .button-condition,
	.ddb-homebrew-portal-item .button,
	.ddb-homebrew-create-special .button,
	.ddb-homebrew-create-magic-item .ddb-homebrew-create-form-footer .button,
	.select2-search-field,
	.portal-listing-item-body-buttons .button-homebrew,
    .class-spell-list-header{
		border-width: /*[[borderWidth]]*/
		!important;
		border-style: /*[[borderStyle]]*/
		!important;
		border-color: /*[[borderColor]]*/
		!important;
	}

	.compendium-toc-block-text {
		margin-left: -1px;
	}
	.quick-menu-item-trigger::before,
	.i-hamburger,
	.i-concentration,
	.i-homebrew,
	.i-spell-melee,
	.i-spell-ranged,
	.i-favorite,
	.i-strength-save,
	.i-dexterity-save,
	.i-constitution-save,
	.i-charisma-save,
	.i-wisdom-save,
	.i-intelligence-save,
	.i-type-acid,
	.i-type-bludgeoning,
	.i-type-cold,
	.i-type-fire,
	.i-type-force,
	.i-type-lightning,
	.i-type-necrotic,
	.i-type-piercing,
	.i-type-poison,
	.i-type-psychic,
	.i-type-radiant,
	.i-type-slashing,
	.i-type-thunder,
	.i-condition-blinded,
	.i-condition-charmed,
	.i-condition-deafened,
	.i-condition-exhaustion,
	.i-condition-exhausted,
	.i-condition-frightened,
	.i-condition-grappled,
	.i-condition-incapacitated,
	.i-condition-invisible,
	.i-condition-paralyzed,
	.i-condition-petrified,
	.i-condition-poisoned,
	.i-condition-prone,
	.i-condition-restrained,
	.i-condition-stunned,
	.i-condition-unconscious,
	.i-condition-white-blinded,
	.i-condition-white-charmed,
	.i-condition-white-deafened,
	.i-condition-white-exhaustion,
	.i-condition-white-exhausted,
	.i-condition-white-frightened,
	.i-condition-white-grappled,
	.i-condition-white-incapacitated,
	.i-condition-white-invisible,
	.i-condition-white-paralyzed,
	.i-condition-white-petrified,
	.i-condition-white-poisoned,
	.i-condition-white-prone,
	.i-condition-white-restrained,
	.i-condition-white-stunned,
	.i-condition-white-unconscious,
	.i-aoe-cone,
	.i-aoe-cube,
	.i-aoe-cylinder,
	.i-aoe-line,
	.i-aoe-sphere,
	.i-aoe-square,
	.i-artificer,
	.i-bard,
	.i-cleric,
	.i-druid,
	.i-paladin,
	.i-ranger,
	.i-sorcerer,
	.i-warlock,
	.i-wizard,
	.i-barbarian,
	.i-fighter,
	.i-monk,
	.i-rogue,
	.i-aberration,
	.i-beast,
	.i-celestial,
	.i-construct,
	.i-dragon,
	.i-elemental,
	.i-fey,
	.i-fiend,
	.i-giant,
	.i-humanoid,
	.i-monstrosity,
	.i-ooze,
	.i-plant,
	.i-undead,
	.i-ritual,
	.i-req-attunement,
	.i-legendary-monster,
	.i-checkmark,
	.ddb-statblock.ddb-statblock-monster.ddb-statblock-ability-scores div::before,
	.es-form-icon,
	#field-body-wysiwyg_ifr {
		filter: invert(100);
	}
	.p-article-a .compendium-toc-blockquote > a,
	.p-article-a .compendium-toc-blockquote > a:hover,
	.ddb-campaigns-list-item-body-sharing-box,
	#content-management-link {

		background-color: /*[[backgroundColor]]*/;
	}

	.listing .info:nth-of-type(8n+1),
	.listing .info:nth-of-type(8n+3),
	.listing .info:nth-of-type(8n+5),
	.listing .info:nth-of-type(8n+7),
	.listing .info:nth-of-type(8n+2),
	.listing .info:nth-of-type(8n+4),
	.listing .info:nth-of-type(8n+6),
	.listing .info:nth-of-type(8n+8),
	.listing-card__content,
	li:nth-of-type(odd) .list-row,
	li:nth-of-type(even) .list-row,
	.compendium-toc-block::after,
	body blockquote.mordy-handwriting,
	body.body-forum .single-column #content .p-forum-a .p-comment-post .p-comment-user-background,
	body.body-user .single-column #content .p-forum-a .p-comment-post .p-comment-user-background,
	body.body-devtracker .single-column #content .p-forum-a .p-comment-post .p-comment-user-background,
	.ddb-campaigns-list-item::before,
	.ddb-campaigns-list-item::after,
	.ddb-campaigns-character-card::after,
	.mon-stat-block,
	.collapsible-header:hover,
	.collapsible-header,
	.select2-container .select2-choice,
	.select2-results,
    .ddbc-truncated-content--is-hidden .ddbc-truncated-content__content:after,
    body.body-forum .single-column #content .p-forum-a .p-comment-post .u-dropDown span{
		background-image: none !important;
	}
	aside,
	.more-info::after {
		border-image: none !important;
	}
	.irace-listing .more-info::after,
	.RPGMonster-listing .more-info::after,
	.RPGMagicItem-listing .more-info::after,
	.ihomebrewable-listing .more-info::after,
	.RPGSpell-listing .more-info::after,
	.IGear-listing .more-info::after,
	.RPGFeat-listing .more-info::after,
	.RPGBackground-listing .more-info::after,
	.RPGSubclass-listing .more-info::after,
	body:not(.body-forum):not(.section-posts):not(.section-changelog):not(.body-privatemessage-details) blockquote::before,
	body:not(.body-forum):not(.section-posts):not(.section-changelog):not(.body-privatemessage-details) blockquote::after,
	.compendium-toc-full::after,
	.section-posts .p-article-a::after,
	.section-changelog .p-article-a::after,
	.details-container::after,
	.collapsible-body:after,
	.ddb-top-result::before,
	.ddb-top-result::after {
		display: none
	}

	.irace-listing .more-info,
	.RPGMonster-listing .more-info,
	.RPGMagicItem-listing .more-info,
	.ihomebrewable-listing .more-info,
	.RPGSpell-listing .more-info,
	.IGear-listing .more-info,
	.RPGFeat-listing .more-info,
	.RPGBackground-listing .more-info,
	.RPGSubclass-listing .more-info,
	body:not(.body-forum):not(.section-posts):not(.section-changelog):not(.body-privatemessage-details) blockquote,
	.section-posts .p-article-a,
	.more-info,
	.details-container{
		border-bottom-width: /*[[borderWidth]]*/;
		border-left-width: /*[[borderWidth]]*/;
		border-right-width: /*[[borderWidth]]*/;
		border-top-width: 0px;
		border-style: /*[[borderStyle]]*/;
		border-color: /*[[borderColor]]*/;
	}

	.collapsible-body {
		border: none !important;
	}
    .p-comments .p-comment-actions .p-comment-actionsAdmin>.label:after{
    border-top-color: /*[[fontColor]]*/
    }


	.listing .info .row.item-name .name .very-rare,
	.very-rare {
		color: #9810E0 !important;
	}
	.listing .info .row.item-name .name .rare,
	.rare {
		color: #4990E2 !important;
	}
	.listing .info .row.item-name .name .uncommon,
	.uncommon {
		color: #1FC219 !important;
	}
	.listing .info .row.item-name .name .legendary,
	.legendary {
		color: #FEA227 !important;
	}
	.listing .info .row.item-name .name .common,
	.common,
	a.button,
	a.u-button {
		color: /*[[fontColor]]*/
		!important;
	}
	.listing .info .row.item-name .name .artifact,
	.artifact {
		color: #BE8972 !important;
	}
      body.body-forum .single-column #content .p-forum-a .p-comment-post .u-dropDown span.user-role-moderator{
     color: #ff8502 !important;
    }
	.mordy-handwriting {
		font-weight: normal !important;
	}
	.ddb-campaigns-list-item {
		min-height: 315px;
	}
	footer#footer {
		margin: 0px;
	}
    input.es-form-field-query.ui-autocomplete-input[placeholder="Search Everything..."]{
        background: none !important;
    }
  

}


@-moz-document url("https://www.dndbeyond.com/") {

	::-webkit-scrollbar {
		width: 3px;
	}

	::-webkit-scrollbar-track {
		background: /*[[backgroundColor]]*/;
	}
	::-webkit-scrollbar-thumb {
		background-color: /*[[scrollbarColor]]*/;
		border-radius: 6px;
		border: none;
	}
	#site-main,
	.post-excerpt__content {
		background-color: /*[[backgroundColor]]*/
		!important;
		color: /*[[fontColor]]*/
		!important;
	}

	.post-excerpt {
		border-width: /*[[borderWidth]]*/
		!important;
		border-style: /*[[borderStyle]]*/
		!important;
		border-color: /*[[borderColor]]*/
		!important;
	}

	.body-home-index .post-listing > li:first-child .post-excerpt__content,
	.body-home-index .post-listing > li:first-child .post-excerpt
    {
		background: none !important;
		border: none !important;
	}
	a,
	a:visited,
	a > span,
	span[role=button],
	.forum-row .col-forum .title a {
		color: /*[[linkColor]]*/
		!important
	}

	.ddb-home-body .see-all-container .button,
	.ddb-home-body .see-all-container .button:hover,
	.ddb-home-body .see-all-container .button:focus,
	.ddb-home-body .see-all-container .button:active,
	.ddb-home-body .see-all-container .button:visited {
		color: /*[[fontColor]]*/
		!important;
	}
	footer#footer {
		margin: 0px;
	}

	.post-excerpt__description,
	.post-excerpt__content {	
   		text-shadow:
      	 2px 2px #000,
     	-1px -1px 0 #000,  
     	 1px -1px 0 #000,
     	 -1px 1px 0 #000,
      	 1px 1px 0 #000;
		
	}
	.post-excerpt__description{
		background: /*[[transparencyBackgroundColor]]*/;
		border-radius: 5px;
		padding: 5px
		
	}
	
}
